.contact-container {
  background: #F0F1F3;

  & > .row {
    position: relative;
  }
}
.contact {
  padding-top: rem-calc(24);
  text-align: center;
}
.contact-content {
  position: relative;
  z-index: 1;
  margin: rem-calc(48 0 96);
}
.contact-list {
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  margin-left: rem-calc(-12);
  margin-right: rem-calc(-12);

  @include breakpoint(xlarge) {
    flex-flow: row wrap;
  }
}
.contact-item {
  flex: 1;
  margin: rem-calc(24 12 0);

  a {
    display: block;
  }
  .icon {
    transition: transform 300ms cubic-bezier(0.6, 0.2, 0.1, 1);
    transform: scale3d(1,1,1);
  }
  a:hover .icon {
    transform: scale3d(1.25, 1.25, 1.25);
  }
}
.contact-item-category {
  display: inline-block;
  margin-top: rem-calc(12);
  text-transform: uppercase;
}
.contact-map {
  display: block;
  min-height: rem-calc(400);
  background: $dark-gray;
}
.contact-portrait {
  max-width: 50%;
  opacity: 0.7;
  z-index: 0;
  @include breakpoint(medium) {
    position: absolute;
    bottom: 0;
  }
  &.is-leo {
    float: left;
    margin-left: rem-calc(-36);
    @include breakpoint(medium) {
      float: none;
      left: 0;
      margin-left: -23%;
    }
    @include breakpoint(large) {
      margin-left: -20%;
    }
  }
  &.is-sylvain {
    float: right;
    margin-right: rem-calc(-48);
    @include breakpoint(medium) {
      float: none;
      right: 0;
      margin-right: -28%;
    }
    @include breakpoint(large) {
      margin-right: -25%;
    }
  }
}
