.main-content {
  @include grid-column(12);
  @include breakpoint(medium) {
    @include grid-column(10);
    @include grid-column-offset(1);
  }
  @include breakpoint(xlarge) {
    @include grid-column(12);
    @include grid-column-offset(0);
  }
}
// Fixes
.off-canvas-wrapper {
  background-color: white;
  position: relative;
}
.off-canvas-wrapper-inner {
  position: relative;
}
.page-template-default,
.page-template-front,
.projet-template-default,
.post-template-default,
.archive,
.blog {
  .off-canvas-wrapper::before {
    @include breakpoint(xlarge) {
      content: '';
      display: block;
      position: absolute;
      top: 72px;
      bottom: 0;
      left: 50%;
      width: 1px;
      height: 100%;
      background: $light-gray;
      z-index: 0;
      margin-left: -432px;
    }
  }
}
.mce-content-body {
    background: white;
}
p.p1 a {
  text-decoration: underline;
}
