.team-container {
  background: $black;
  color: $light-gray;
  a {
    display: block;
    color: $light-gray;
  }
  a:hover,
  a:focus {
    color: $secondary-color;
  }
}
.team {
  padding-top: rem-calc(24);
}
.team-name {
  font-size: rem-calc(28);
  font-weight: 300;
}
.team-content {
  padding-bottom: rem-calc(36);
  @include breakpoint(medium) {
    display: flex;
    flex-wrap: wrap;
  }
  @include breakpoint(xlarge) {
    margin-left: rem-calc(108);
  }
}
.team-member {
  margin: rem-calc(48 24 24);
  @include breakpoint(medium) {
    flex: 1;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.team-works {
  display: block;
  min-height: rem-calc(240);
  background: url('../images/team-works.jpg') no-repeat center center;
  background-size: cover;
  text-align: center;
  padding-top: rem-calc(96);

  .button {
    color: white;
    border-color: white;
    transition: all 300ms ease;
    text-transform: uppercase;
    font-size: rem-calc(16);
    line-height: rem-calc(24);
    padding: rem-calc(13 23 9);
    margin: 0;

    &:hover,
    &:focus {
      color: $secondary-color;
      border-color: $secondary-color;
    }
  }
}
