.entry-content {
  margin-bottom: rem-calc(24);
  @include breakpoint(medium) {
   margin-bottom: rem-calc(60);
  }
  p, ul, li {
    @include breakpoint(large) {
      line-height: rem-calc(36);
    }
  }
}
.entry-content ul:not(.image-gallery) li {
  position: relative;
  list-style: none;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: -24px;
    margin-top: -3px;
    width: 7px;
    height: 7px;
    background: $medium-gray;
    border-radius: 50%;
  }
}
.entry-title {
  font-weight: normal;
}
