#featured-hero {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: rem-calc(120);

  @include breakpoint(medium) {
    height: rem-calc(360);
  }

  @include breakpoint(xlarge) {
    height: rem-calc(480);
  }
}
