.gallery,
.responsive-embed {
  @include breakpoint(xlarge) {
    // display: flex;
    // flex-flow: column wrap;
    margin-top: rem-calc(60);
    width: 100%;
    margin-left: rem-calc(-132);
  }
}
.responsive-embed {
  min-height: 380px;
}
.gallery-item {
  background-color: #eee;
  display: inline-block;
  margin: rem-calc(0 24 24 0);

  @include breakpoint(xlarge) {
    max-width: 100%;
    margin: rem-calc(0 0 24 24);
    & > .portrait {
      max-width: rem-calc(312);
    }
  }
}
