.news-list {
  padding: rem-calc(0 0 48);
  @include breakpoint(medium) {
    padding: rem-calc(0 0 96);
  }
  .news-gallery {
    display: flex;
    flex-wrap: wrap;
    padding-left: 6px;
    padding-right: 6px;
  }
  .news {
    max-width: 50%;
    width: 328px;
    @include breakpoint(medium) {
      max-width: 33%;
    }
    @include breakpoint(xlarge) {
      max-width: 50%;
    }
  }
  figure {
    margin-bottom: 12px;
  }
  .post-title {
    margin-bottom: 0;
  }
  a.news-link {
    display: block;
    transition: all 300ms ease;
    border: 1px solid $light-gray;
    padding: 12px;
    margin: 0 6px 12px;
    background-color: white;
  }
}
.news-date {
  color: $medium-gray;
}
.news-thumbnail {
  @include grid-column(12);
  @include breakpoint(medium) {
    @include grid-column(10);
    @include grid-column-offset(1);
  }
  @include breakpoint(xlarge) {
    @include grid-column(12);
    @include grid-column-offset(0);
  }

}
