.news-list {
  padding: rem-calc(24 0 48);
  @include breakpoint(medium) {
    padding: rem-calc(60 0 96);
  }
  .news {
    margin-top: rem-calc(18);
    @include breakpoint(medium) {
      margin-top: rem-calc(60);
    }
    &:first-child {
      margin-top: 0;
    }
  }
  .post-content {
    position: relative;
    @include breakpoint(small) {
      margin-left: 0;
    }
    @include breakpoint(xlarge) {
      @include grid-column-offset(2);
    }
  }
  .post-title {
    margin-bottom: 0;
  }
  a {
    display: block;
    transition: all 300ms ease;
    @include breakpoint(xlarge) {
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 18px;
        left: -57px;
        width: 7px;
        height: 7px;
        background: $medium-gray;
        border-radius: 50%;
        transition: all 300ms ease;
      }
      &:hover::after {
        background: $secondary-color;
      }
    }
  }
}
.news-date {
  color: $medium-gray;
}
