.portfolio-item {
  & img {
    filter: grayscale(100%);
    transition:
      filter 600ms cubic-bezier(0.6, 0.2, 0.1, 1),
      transform 600ms cubic-bezier(0.6, 0.2, 0.1, 1);
    transform: scale3d(1,1,1);
  }
  & img:hover,
  & .post-thumbnail:focus img {
    filter: grayscale(0%);
    transform: scale3d(1.05, 1.05, 1.05);
  }
}
.portfolio-content,
.single .post-content,
.page .page-content {
  position: relative;

  @include breakpoint(small) {
    margin-left: 0;
  }
  @include breakpoint(xlarge) {
    @include grid-column-offset(2);
  }

  .entry-content {
    position: relative;
  }
  .entry-content ul:not(.image-gallery) {
    @include breakpoint(xlarge) {
      position: absolute;
      top: 0;
      left: -240px;
      width: 240px;
      margin-left: -74px;
      text-align: right;

      li::after {
        left: auto;
        right: -24px;
      }
    }
  }
}
.portfolio-list {
  padding: 0 0 rem-calc(60);
  @include breakpoint(medium) {
    padding: 0 0 rem-calc(72);
  }
  .portfolio-item {
    margin-top: rem-calc(60);
    &:first-child {
      margin-top: 0;
    }
  }
  .post-content {
    position: relative;
    @include breakpoint(small) {
      margin-left: 0;
    }
    @include breakpoint(xlarge) {
      @include grid-column-offset(2);
      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 18px;
        left: -57px;
        width: 7px;
        height: 7px;
        background: $medium-gray;
        border-radius: 50%;
      }
    }
  }
  .post-title {
    margin-bottom: 0;
    @include breakpoint(large) {
      margin-top: rem-calc(12);
    }
  }
}
.portfolio-grid {
  background: $light-gray;
  padding: 0 0 rem-calc(60);
  @include breakpoint(medium) {
    padding: 0 0 rem-calc(120);
  }
  .main-content {
    @include breakpoint(medium) {
      padding: 0;
      @include grid-layout(2, '.portfolio-item', $grid-column-gutter);
    }
  }
  .portfolio-item {
    margin-bottom: rem-calc(12);
  }
  .post-title {
    padding-bottom: 0;
  }
}
