.post-categories {
  list-style: none;
  font-size: rem-calc(14);
  line-height: rem-calc(24);
  & > li > a {
    text-transform: uppercase;
    color: $medium-gray;
  }
}
.post-thumbnail {
  display: block;
  overflow: hidden;
}
.post-title {
  line-height: rem-calc(24);
  margin: 0;
  padding: rem-calc(6 0);
  @include breakpoint(large) {
    padding: rem-calc(12 0);
  }
}
.post-meta {
  font-size: rem-calc(14);
  margin-bottom: rem-calc(12);
  color: $medium-gray;
}
